
/* TODO: Convert to SCSS */
/* TODO: Active */
@media (min-width: 768px) {
	.sidebar-panel {
		position: -webkit-sticky !important;
		position: sticky !important;
		top: 4rem;
		z-index: 2234;
		height: calc(100vh - 4rem);
		border-right: 1px solid #ececec;
	}

	.sidebar-overflow {
		display: block !important;
		height: 100% !important;
	}

	.sidebar-toc {
		height: 100% !important;
		overflow: auto;
		margin-right: -15px;
		padding-right: calc(15px + 1rem);
	}
}

.sidebar-panel {
	background-color: #f7f7f7;
}

.sidebar-toc-header {
	margin-top: 1rem;
}

.sidebar-toc .nav-link {
	text-decoration: none;
	color: rgba(26,26,26,.75);
	transition: color .2s ease-out;
}

.sidebar-toc .nav-link.active {
	font-weight: 500;
	color: #1a1a1a!important;
}

.sidebar-toc .nav-link:not(.sidebar-toc-header) {
	font-size: 90%;
	padding-top: .25rem;
	text-decoration: none;
	color: rgba(26,26,26,.75);
	transition: color .2s ease-out;
}

.sidebar-toc .nav-link:not(.sidebar-toc-header):hover {
	text-decoration: none;
	color: #999;
}

.sidebar-toggle {
	padding-top: 5px !important;
	padding-bottom: 10px !important;
	box-shadow: none !important;
	color: #212529 !important;
	font-size: 2rem !important;
}

